<html>
<head>
 <title> estilos de mi pagina</title>
</head>

div
{
}

body
{
strong
text-transform:uppercase;
background-color:skyblue;
font-family:arial;
color:purple;
margin-top:1in;
margin-right:1in;
margin-left:1in;
margin-bottom:1in;
}


body.segundo
{
text-transform:uppercase;
background-color:turquoise;
font-family:arial;
color:purple;
margin-top:1in;
margin-right:1in;
margin-left:1in;
margin-bottom:1in;
}

body.tercero
{
text-transform:uppercase;
background-color:plum;
font-family:arial;
color:blakc;
margin-top:1in;
margin-right:1in;
margin-left:1in;
margin-bottom:1in;
}


body.cuarto
{
text-transform:uppercase;
background-color:mediumseagreen;
font-family:arial;
color:gold;
margin-top:1in;
margin-right:1in;
margin-left:1in;
margin-bottom:1in;
}


body.sexto
{
text-transform:uppercase;
background-color:coral;
font-family:arial;
color:green;
margin-top:1in;
margin-right:1in;
margin-left:1in;
margin-bottom:1in;
}
img
{
float:left;
width:150 px;
heigh:150 px;
margin-left:3%;
}

h1
{
font-size:oblique;
font-size:3em;
font-family:Lucida Handwriting;
text-aling:center;
color:indigo;
}
h1.segundo
{
font-size:oblique;
font-size:3em;
font-family:castellar,arial;
text-aling:center;
color:nice;
}

h2
{
font-size:oblique;
font-size:8em;
font-family:Showcard Gothic;
text-align:center;
backgroud-color:coral;
color:teal;
}

h3
{
font-size:oblique;
font-size:2em;
font-family:castellar,arial;
text-align:center;
backgroud-color:black;
color:teal;
}

h3.segundo
{
font-size:oblique;
font-size:2em;
font-family:castellar,arial;
text-align:center;
backgroud-color:black;
color:teal;
}

table
{
font-size:10pt;
font-family:castellar,arial;
border-style:double;
border-color:green;
background-color:peru;
}


A:link {text-decoration:none;color:red;}
A:visited{text-decoration:none;color:skyblue;}
A:active{text-decoration:none;color:pink;}
A:hover{text-decoration:underline;color:nice;
font-weight:bold
}


</html>









